/* Estilos generales de la página */

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	background-color: #FFF;
	color: #000;
	font-family: 'Helvetica', sans-serif;	
}


/* Importación de la tipografia Rubik para los títulos h1, h2, h3, ...*/

@font-face {
     font-family: Rubik;
	 src: url("../font/Rubik-VariableFont_wght.ttf");
}



/* 	Definición de los estilos de los diferentes tipos generales de modulos, de la capa 
	centro con los que me ayudo a darle estilo a las diferentes sections y centrar los textos,
	de los elementos genéricos de la web (titulos h1, h2, h3 y h4, colores, section, article, ...)*/

section{
	width: 100%;
	float: left;
	margin: 50px 0 0 0;
}
article{
	float: left;
	margin: 15px 0;
}
.modulo_naranja{
	width: 100%;
	background-color: #FD9B01;
	color: #FFF;
	float: left;
	margin: 15px 0 0 0;
	padding: 30px 0 20px 0;
}
.modulo_transparente{
	width: 100%;
	float: left;
	margin: 15px 0 0 0;
	padding: 10px 0 20px 0;
}
.centro{
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}
h1{
	font-family: Rubik;
	font-size: 40px;
	text-align: center;
	color: #FD9B01;
	margin: 0;
}
h2{
	font-family: Rubik;
	font-size: 30px;
	color: #FD9B01;
	margin: 10px 0;
}
h3{
	font-family: Rubik;
	font-size: 20px;
}
h4{
	font-family: Rubik;
	font-size: 16px;
	margin: 15px 0 0 0;
}
.color_negro{
	color: #000;
}
.color_naranja{
	color: #FD9B01;
}



/* 	Estilos del header */

header{
	margin: 0;
	width: 100%;
    	float: left;
}
.banner_top{
	width: 100%;
	float: left;
	background-color: #FD9B01;
	color: #FFF;
	margin: 10px 0 0 0;
	padding: 20px 0;
	text-align: center;
}
.capa_logo{
	margin-top: 20px;
	padding: 20px 0 10px 0;
}
.logo{
	width: 350px;
	float: left;
	height: 65px;
}
.form_buscador{
	width: 650px;
	margin: 4px 0 0 0;
	float: left;
}
.form_buscador input {
    	padding: 10px 10px;
    	width: 500px;
    	background: url(../img/lupa.png) no-repeat right;
    	background-position-x: 480px;
}
.iconos-cabecera{
	font-size: 30px;
	margin: 10px 25px 5px 5px;
	color: #FDAE01;

}
.iconos-cabecera:hover{
	color: #000;
}
nav{
	width: 1200px;
	margin: 0;
}
.menu{
	width: 690px;
	float: right;
	margin: 20px 0 0 0;
	padding: 0;
}
.menu a{
	font-family: Rubik;
	color: #000;
	font-weight: 20px;
	text-decoration: none;
	font-size: 17px;
	float: left;
	padding: 5px 10px;
	margin: 20px 0 0 10px;
}
.menu a:hover{
	color: #FDAE01;
}
.menu a.seleccionada{
	font-family: Rubik;
	color: #FDAE01;
	float: left;
	padding: 5px 10px;
	margin: 20px 0 0 10px;
}
.banner_cabecera{
	width: 100%;
	background-color: #FD9B01;
	float: left;
	height: 675px;
}


/* Definición estilos del módulo de opiniones y reseñas de clientes */

ul.opiniones{
	width: 1200px;
	list-style: none;
}
ul.opiniones li{
	width: 230px;
	margin: 20px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
	text-align: center;

}
.icono-usuario{
	font-size: 22px;
	color: #000;
	margin: 10px;
}
.icono-estrella{
	font-size: 20px;
	color: #FFF116;
}




/* Estilos del modulo colaboradores */

.colaboradores{
	width: 1200px;
	list-style: none;
}
.colaboradores li{
	width: 235px;
	float: left;
	text-align: center;
	vertical-align: middle;
}
.colaboradores li img{
	width: 200px;
	height: auto;
}

.opiniones{
	width: 1200px;
	list-style: none;
}
.opiniones li{
	width: 220px;
	float: left;
	text-align: center;
	vertical-align: middle;
}
.opiniones li img{
	width: 200px;
}




/* Estilos del módulo ¿Por qué elegirnos? */

article ul.lista_elegirnos{
	margin: 25px  0;
	list-style: none;
	width: 550px;
	float: left;
	padding: 0;
}
article ul.lista_elegirnos li{
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
}
article ul.lista_elegirnos li p, p{
	margin: 15px 0;
	padding: 0;
	line-height: 25px;
}
.foto_article{
	width:600px;
	float: right;
	margin: 20px 0 0 50px;
}


/* Estilos del módulo y sección blog */

article.noticias{
	width: 500px;
	float: left;
	margin: 15px 50px;
}
.leer_mas{
	text-align: right;
	padding: 0 10px 0 0;
}
.leer_mas a{
	text-decoration: none;
	color: #000;
}
.leer_mas a:hover{
	text-decoration: underline;
}
.imagen_blog{
	float: left;
	margin: 20px 20px 0 0;
}
.imagen_blog_home{
	width: 100%;
	height: auto;
	margin: 10px 0;
}




/* 	Estilos del modulo y la página productos  */

article ul.lista_productos{
	margin: 10px  0;
	list-style: none;
	width: 1200px;
	float: left;
	padding: 0;
}
article ul.lista_productos li{
	margin: 30px 5px 0 5px;
	padding: 0;
	width: 286px;
	float: left;
	height: 560px;
	border: 2px solid #FFF;
}
article ul.lista_productos li:hover{
	border: 2px solid #FD9B01;
}
article ul.lista_productos li p{
	padding: 5px 10px;
	text-align: center;
}
article ul.lista_productos li .capa_producto{
	width:288px;
	height: 300px;
}
article ul.lista_productos li .capa_producto .foto_producto{
	width:250px;
	height: auto;
	padding: 20px;
}
article ul.lista_productos li .capa_producto .foto_producto:hover{
	width:286px;
	padding: 0;
}
article ul.lista_productos li p button{
	padding: 5px 10px;
	cursor: pointer;
	color: #FFF;
	background-color: #FD9B01;
	border: 2px solid #FD9B01;
	border-radius: 3px;
}
article ul.lista_productos li p.precio{
	font-size: 25px;
	font-weight: bold;
	color: #FD9B01;
}
article ul.lista_productos li p button:hover{
	background-color: #FFF;
	color: #FD9B01;
}
.paginado{
	width: 100%;
	margin: 30px 0 0 0;
    	float: left;
}
.paginado .mostrando{
	width: 50%;
	float: left;
	text-align: left;
}
.paginado .paginas{
	width: 50%;
	float: left;
	text-align: right;
}
.paginado .paginas a{
	text-decoration: none;
	margin: 0 5px;
	color: #000;
}
.paginado .paginas a:hover{
	text-decoration: underline;
}





/* 	Estilos de la página presupuesto */

.presupuesto{
	width: 100%;
	margin: 50px;
}
.presupuesto tr{
	margin: 20px;
}
.presupuesto td.primera_columna{
	width: 30%;
	vertical-align: top;
}
.presupuesto td.segunda_columna{
	width: 70%;
}
input{
	padding: 10px 10px;
	width: 80%;
}
textarea{
	padding: 10px 10px;
	width: 80%;
	height: 100px;
}
input.politica_privacidad{
	width: 20px;
}
a.enlace_politica{
	text-decoration: none;
	color: #000;
}
a.enlace_politica:hover{
	text-decoration: underline;
}




/* 	Estilos de la página contacto */

ul.contacto{
	list-style: none;
}
ul.contacto li{
	margin: 25px 0 0 50px;
}
ul.contacto li:last-child{
	margin-bottom: 40px;
}
.icono-contacto{
	font-size: 25px;
	color: #FD9B01;
	margin: 0 20px  0 0;
}
.enviar{
	width: auto;
	margin: 20px 0 0 10px;
	cursor: pointer;
	color: #FFF;
	background-color: #FD9B01;
	border: 2px solid #FD9B01;
	border-radius: 3px;
}
.enviar:hover{
	background-color: #FFF;
	color: #FD9B01;
}




/* 	Estilos del footer */

footer{
	width: 100%;
	margin: 50px 0 0 0;
	float: left;
	padding: 40px 0 20px 0;
	background-color: #000;
}
.footer_izq{
	width: 25%;
	float: left;
}

.footer_izq ul{
	list-style: none;
	width: 100%;
	margin: 5px 0;
	padding: 0;
}
.footer_izq ul li{
	line-height: 25px;
	margin: 10px 0;
}

.footer_centro{
	width: 25%;
	float: left;
}
.footer_centro ul{
	list-style: none;
	width: 100%;
	margin: 5px 0;
	padding: 0;
	list-style: none;
	line-height: 25px;
}
.footer_centro ul li{
	line-height: 25px;
	margin: 10px 0;
}
.footer_dcha{
	width: 50%;
	float: left;
	text-align: right;
}
.footer_dcha ul{
	list-style: none;
	width: 100%;
	color: #000;
	text-align: right;
	margin: 5px 0;
	padding: 0;
}
.footer_dcha ul{
	list-style: none;
	width: 100%;
	color: #000;
	text-align: right;
	margin: 5px 0;
	padding: 0;
}
.footer_dcha ul li:first-child{
	list-style: none;
	width: 100%;
	color: #000;
	text-align: right;
	margin: 5px 0;
	padding: 0;
}
.footer_dcha ul li{
	list-style: none;
	float: right;
	width: 50px;
	color: #000;
	text-align: right;
	margin: 5px 0;
	padding: 0;
}
.footer_dcha ul li:last-child{
	list-style: none;
	width: 100%;
	color: #000;
	text-align: right;
	margin: 20px 0;
	padding: 0;
}
.footer_dcha ul li p{
	color: #FFF;
}
.footer_centro a, .footer_izq a{
	text-decoration: none;
	color: #FFF;
}
.footer_centro a:hover, .footer_dcha a:hover, .footer_izq a:hover{
	text-decoration: underline;
}

.footer_dcha p {
    margin: 20px 0 10px 0;
}
.icono-redes{
	font-size: 40px;
	color: #FFF;
}
.icono-redes:hover{
	color: #FD9B01;
}
.footer_dcha a{
	text-decoration: none;
	color: #FD9B01;
	margin: 5px 0;
}
.footer_dcha a.icono-redes{
	text-decoration: none;
	
}
.footer_dcha a.icono-redes:hover{
	text-decoration: none;
}

