<!DOCTYPE html>
<html lang="es">

	<head>
		<title>Contacto - Electrodomésticos Frezeer</title>
		<meta  charset="utf-8">
		<meta name="description" content="Electrodomésticos Frezeer. Especialistas en todo tipo de electrodomésticos para el hogar, la oficina o el negocio!">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/estilos.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="icon" href="../images/favicon.png" type="image/png">
	</head>

	<body>


		<!-- MODULO HEADER DE LA WEB -->
	    <header>
	    	<div class="banner_top">
		    	<div class="centro">
		    		ELECTRO FREZEER | Envio Gratis +50€* | Entrega en 24/72h | +100 TIENDAS EN EUROPA | 666 666 666
		    	</div>
	    	</div>
	    	<div class="modulo_transparente capa_logo">
		    	<div class="centro">
		    		<a href="index.html" title="Inicio" class="logo">
				       	<img src="../images/logo-electrodomesticos.png" alt="ELECTRODOMÉSTICOS FREZZEER" title="ELECTRODOMÉSTICOS FREZZEER">
				    </a>
				    <form class="form_buscador">
			    		<input type="text" placeholder="Busca lo que necesites">
			    	</form>
					<a href="#" title="ZONA CLIENTE"><i class="fa-solid fa-user iconos-cabecera"></i></a>
				    <a href="#" title="CARRITO DE LA COMPRA"><i class="fa-solid fa-cart-shopping iconos-cabecera"></i></a>
		    		<nav>
		    			<ul class="menu">
					    	<li><a href="../index.html" title="Inicio">Inicio</a></li>
						    <li><a href="sobre-nosotros.html" title="Sobre nosotros">Sobre nosotros</a></li>
						    <li><a href="productos.html" title="Productos">Productos</a></li>
						    <li><a href="presupuesto.html" title="Presupuesto">Presupuesto</a></li>
						    <li><a href="contacto.html" title="Contacto" class="seleccionada">Contacto</a></li>
						    <li><a href="blog.html" title="Blog">Blog</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="banner_cabecera">
			    <div class="centro">
			    	<img src="../images/cabecera6.jpg" alt="ELECTRODOMÉSTICOS FREZZEER" title="ELECTRODOMÉSTICOS FREZZEER" width="1200" height="675">
	            </div>
			</div>
		</header>
		



		<!-- SECCION CONTACTO DE LA WEB -->
		<section>
            <div class="modulo_transparente">
            	<h1>CONTACTO</h1>
            	<div class="centro">
		            <article>
		            	<h2>Te recibiremos con la mejor sonrisa</h2>
		            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus, risus in scelerisque aliquam, sapien sapien dapibus leo, ac efficitur nisl erat eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus, risus in scelerisque aliquam, sapien sapien dapibus leo, ac efficitur nisl erat eget metus.</p>
		            </article>
		        </div>
            </div>
        </section>

		<section>
        	<div class="modulo_transparente">
        		<div class="centro">
        			<h2>Estamos para atenderte</h2>
		            <article>
		            	<h3>Ponte en contacto con nosotros</h3>
		                <ul class="contacto">
		                	<li>
		                		<p><i class="fa-solid fa-phone icono-contacto" title="Teléfono / Whatsapp"></i>  <strong>Teléfono / Whatsapp</strong>: 666 666 666</p>
		                	</li>
		                	<li>
		                		<p><i class="fa-solid fa-envelope icono-contacto" title="Email"></i>  <strong>Email</strong>: pedidos@electrodomesticosfrezeer.com</p>
		                	</li>
		                	<li>
		                		<p><i class="fa-solid fa-location-dot icono-contacto" title="Dirección"></i>  <strong>Dirección</strong>: Calle del Teatro 37, bajo - 03001 Alicante (horario de atención al cliente: de lunes a sábado de 10h a 14h y de 16h a 20h)</p>
		                	</li>
		                </ul>
		                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3817.742565900039!2d-0.49031492359190015!3d38.345195379096616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6237b2cdc7a897%3A0xb78e013e4b2e56f4!2sCarrer%20del%20Teatre%2C%2031%2C%2003001%20Alacant!5e1!3m2!1ses!2ses!4v1777305516248!5m2!1ses!2ses" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</article>
		        	
		        </div>
		    </div>
		</section>

		<!-- MÓDULO "POR QUÉ ELEGIRNOS" DE LA WEB -->
	    <section>
            <div class="modulo_naranja">
	        	<div class="centro">
            		<h2 class="color_negro">¿Por qué elegirnos?</h2>
		            <article>
		                <h3>Producto, servicios y atención al cliente</h3>
		                <img src="../images/imagen_home.png" alt="Electrodomésticos Frezeer" title="Electrodomésticos Frezeer" class="foto_article" width="600" height="400">
		                <ul class="lista_elegirnos">
		                    <li>
		                    	<h4>Envío y montaje:</h4>
		                    	<p>Recíbelo en 24/48h. Si quieres, nosotros lo instalamos y retiramos tu aparato viejo.</p>
		                    </li>
		                    <li>
		                    	<h4>Financiación:</h4>
		                    	<p>Paga a tu ritmo. Ofrecemos financiación a medida para que equipes tu hogar hoy mismo.</p>
		                    </li>
		                    <li>
		                    	<h4>Garantía total:</h4>
		                    	<p>Compra con seguridad. Todos nuestros productos cuentan con 3 años de garantía oficial.</p>
		                    </li>
		                    <li>
		                    	<h4>Ahorro energético:</h4>
		                    	<p>Cuidamos tu bolsillo. Encuentra la mayor gama de productos con etiqueta clase A..</p>
		                    </li>
		                </ul>
		            </article>
		        </div>
		    </div>
        </section>



		<!-- MODULO "EMPRESAS COLABORADORAS" -->
		<section>
			<div class="modulo_transparente">
	        	<div class="centro">
		    		<h2>Empresas colaboradoras</h2>
		            <article>
		            	<h3>Confiamos en los mejores</h3>
		                <ul class="colaboradores">
		                    <li>
	                    		<a href="#"><img src="../images/logo1.jpg" alt="MÍELE" title="MÍELE" width="200" height="200"></a>
		                    </li>
		                    <li>
	                    		<a href="#"><img src="../images/logo2.jpg" alt="AEG" title="AEG" width="200" height="200"></a>
		                    </li>
		                    <li>
	                    		<a href="#"><img src="../images/logo3.jpg" alt="BOSCH" title="BOSCH" width="200" height="200"></a>
		                    </li>
		                    <li>
	                    		<a href="#"><img src="../images/logo4.jpg" alt="QUOOKER" title="QUOOKER" width="200" height="200"></a>
		                    </li>
		                    <li>
	                    		<a href="#"><img src="../images/logo5.jpg" alt="SIEMENS" title="SIEMENS" width="200" height="200"></a>
		                    </li>
		                    <li>
	                    		<a href="#"><img src="../images/logo6.jpg" alt="BALAY" title="BALAY" width="200" height="200"></a>
		                    </li>
		                    <li>
	                    		<a href="#"><img src="../images/logo7.jpg" alt="BORA" title="BORA" width="200" height="200"></a>
		                    </li>
		                    <li>
	                    		<a href="#"><img src="../images/logo8.jpg" alt="PANDO" title="PANDO" width="200" height="200"></a>
		                    </li>
		                    <li>
	                    		<a href="#"><img src="../images/logo9.jpg" alt="LIEBHEER" title="LIEBHEER" width="200" height="200"></a>
		                    </li>
		                    <li>
	                    		<a href="#"><img src="../images/logo10.jpg" alt="ELECTROLUX" title="ELECTROLUX" width="200" height="200"></a>
		                    </li>
		                </ul>
		            </article>
		        </div>
		    </div>
		</section>



        <!-- MÓDULO OPINIONES DE NUESTROS CLIENTES DE LA WEB -->
	    <section>
            <div class="modulo_transparente">
	        	<div class="centro">
            		<h2>Opiniones de nuestros clientes</h2>
		            <article>
		                <h3>Reseñas y comentarios</h3>
		                <ul class="opiniones">
		                    <li>
		                    	<p><i class="fa-solid fa-user icono-usuario" alt="USUARIO VALORACION"></i> Roberto Sánchez</p>
		                    	<p>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    	</p>
		                    	<p>Nullam varius porttitor enim, et semper ipsum placerat et. In arcu magna, feugiat sed convallis eget, egestas sodales eros. Vestibulum ornare ullamcorper libero, eu semper nisl scelerisque vel.</p>
		                    </li>
		                    <li>
		                    	<p><i class="fa-solid fa-user icono-usuario" alt="USUARIO VALORACION"></i> Juan Ruíz</p>
		                    	<p>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    	</p>
		                    	<p>Nullam varius porttitor enim, et semper ipsum placerat et. In arcu magna, feugiat sed convallis eget, egestas sodales eros. Vestibulum ornare ullamcorper libero, eu semper nisl scelerisque vel.</p>
		                    </li>
		                    <li>
		                    	<p><i class="fa-solid fa-user icono-usuario" alt="USUARIO VALORACION"></i> Cristina Salgado</p>
		                    	<p>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    	</p>
		                    	<p>Nullam varius porttitor enim, et semper ipsum placerat et. In arcu magna, feugiat sed convallis eget, egestas sodales eros. Vestibulum ornare ullamcorper libero, eu semper nisl scelerisque vel.</p>
		                    </li>
		                    <li>
		                    	<p><i class="fa-solid fa-user icono-usuario" alt="USUARIO VALORACION"></i> Julián Ortuño</p>
		                    	<p>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    		<i class="fa-solid fa-star icono-estrella" alt="ESTRELLA VALORACION"></i>
		                    	</p>
		                    	<p>Nullam varius porttitor enim, et semper ipsum placerat et. In arcu magna, feugiat sed convallis eget, egestas sodales eros. Vestibulum ornare ullamcorper libero, eu semper nisl scelerisque vel.</p>
		                    </li>
		                </ul>
		            </article>
		        </div>
		    </div>
        </section>




        <!-- PIE DE LA WEB -->
        <footer>
        	<div class="centro">
	        	<div class="footer_izq">
	        		<h3 class="color_naranja">SECCIONES</h3>
		        	<ul>
			        	<li><a href="../index.html" title="Inicio">Inicio</a></li>
			        	<li><a href="sobre-nosotros.html" title="Sobre nosotros">Sobre nosotros</a></li>
			        	<li><a href="productos.html" title="Productos">Productos</a></li>
			        	<li><a href="presupuesto.html" title="Presupuesto">Presupuesto</a></li>
			        	<li><a href="contacto.html" title="Contacto">Contacto</a></li>
			        	<li><a href="blog.html" title="Blog">Blog</a></li>
		        	</ul>
	        	</div>

	        	<div class="footer_centro">
		        	<h3 class="color_naranja">LEGAL</h3>
		        	<ul>
		        		<li><a href="#" title="Aviso Legal">Aviso Legal</a></li>
		        		<li><a href="#" title="Política de privacidad">Política de privacidad</a></li>
		        		<li><a href="#" title="Política de cookies">Política de cookies</a></li>
		        	</ul>
	        	</div>

	        	<div class="footer_dcha">
		        	<h3 class="color_naranja">CONTACTA CON NOSOTROS</h3>
		        	<ul class="redes-sociales">
		        		<li><p>Síguenos en redes sociales</p></li> 
		        		<li><a href="#" title="Facebook" target="blank"><i class="fa-brands fa-facebook icono-redes" title="Síguenos en Facebook"></i></a></li>
		        		<li><a href="#" title="X" target="blank"><i class="fa-brands fa-x-twitter icono-redes" title="Síguenos en X"></i></a></li>
		        		<li><a href="#" title="Instagram" target="blank"><i class="fa-brands fa-instagram icono-redes" title="Síguenos en Instagram"></i></a></li>
		        		<li>
		        			<p>Electrodomésticos Frezeer - Calle del Teatro 37, bajo - 03001 Alicante <br>
				               Email: <a href="mailto:info@electrodomesticosfrezeer.com">pedidos@electrodomesticosfrezeer.com</a> | 
				               Telf: <a href="tel:666666666">666 666 666</a></p>
		            	</li>
		            </ul>
		       	</div>
        	</div>
        </footer>

	</body>
</html>
