
body{
	background-color: #FCFCFC;
	margin: 0;
	padding: 0;
	color: #6B696A;
}

/* Importación a nivel local de la tipografia Sekuya para los títulos h1, h2, h3, ...*/
@font-face {
     font-family: Sekuya;
	 src: url("../font/Sekuya-Regular.ttf");
}

/* Definición la cabecera HEADER de la web y las diferentes clases de cabeceras de las secciones de la web */
header{
	width: 100%;
	height: 500px;
	margin: 15px 0;
    	float: left;
}
.modulo_gris_home{
	width: 100%;
	height: 400px;
	background-image: url('../img/cabecera.jpg');
	background-size: 1200px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #6B696A;
	float: left;
	margin: 15px 0 0 0;
}
.modulo_granate{
	width: 100%;
	background-color: #882B59;
	color: #FFF;
	float: left;
	margin: 15px 0 0 0;
	padding: 50px 0;
}
.modulo_transparente{
	width: 100%;
	float: left;
	margin: 15px 0 0 0;
	padding: 50px 0;
}
.centro{
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}
.inicio{
	height: 400px;
	background-image: url('../img/cabecera.jpg');
	background-size: 1200px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0;
}
.nuestro-secreto{
	background-image: url('../img/hamburguesa-header3.jpg');
}
.productos{
	background-image: url('../img/hamburguesa-header4.jpg');
}
.transparente{
	width: 100%;
	background-color: rgba(255, 255, 255, 0.65);
	margin: 100px 0 0 0;
	text-align: center;
	float: left;
	padding: 0;
}

/* Definición de los titulos h1, h2, h3, ... de las secciones */
h1{
	font-family: Sekuya;
	font-size: 27px;
	text-align: right;
}

h2{
	font-family: Sekuya;
	font-size: 25px;
	text-decoration: underline;
}

h3{
	font-family: Sekuya;
	font-size: 20px;
	text-decoration: underline;
}
h4{
	font-family: Sekuya;
	font-size: 16px;
	letter-spacing: 2px;
	margin: 15px 0 0 0;
}


section{
	width: 100%;
	float: left;
}


.logo{
	width: 390px;
	float: left;
	height: 65px;
}
nav{
	width: 100%;
	margin: 20px 0;
}

.menu{
	width: 100%;
	float: left;
	padding: 15px 0 0 0;
}

.menu a:first-child{
	width: 400px;
	margin: 0 100px 0 0;
	float: left;
	background: transparent;
	border: none;
	border-radius: none;

}
.menu a{
	color: white;
	padding: 5px 8px;
	font-weight: 20px;
	text-decoration: none;
	background-color: #6B696A;
	border: 2px solid #6B696A;
	border-radius: 3px;
	font-size: 17px;
	float: left;
	padding: 5px 10px;
	margin: 20px 0 0 10px;

}
.menu a:hover{
	background-color: #FFF;
	color: #0E0097;
}
.menu a.seleccionada{
	color: #0E0097;
	background-color: #FFF;
	border: 2px solid #6B696A;
	border-radius: 3px;
	float: left;
	padding: 5px 10px;
	margin: 20px 0 0 10px;
}

article{
	width: 100%;
	float: left;
	margin: 15px 0;
}


/* Estilos del contenido de la página de inicio */
article ul.lista_inicio{
	margin: 10px  0;
	list-style: none;
	width: 650px;
	float: left;
	padding: 0;
}
article ul.lista_inicio li{
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
}
article ul.lista_inicio li p, p{
	margin: 0px;
	padding: 0;
	line-height: 25px;
}
.foto_article{
	width:450px;
	float: right;
	margin: 20px 0 0 50px;
}




/* Estilos de la página nuestro-secreto */
.contenido-nuestro-secreto{
	width: 600px;
	float: left;
}
/* Estilos de la galería de fotos */
ul.galeria{
	width: 100%;
	margin: 15px  0;
	list-style: none;
	float: left;
}
ul.galeria li{
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}


/* Estilos del pie de la web */
footer{
	width: 100%;
	margin: 50px 0;
	float: left;
	padding: 20px 0;
}

.footer_izq{
	width: 25%;
	float: left;
	text-align: left;
}

.icono-redes{
	font-size: 40px;
}
/* capa privacidad del pie de la web */
.footer_izq nav{
	width: 100%;
	color: #6B696A;
	text-align: left;
	margin: 5px 0;
	padding: 0;
	line-height: 25px;
}

.footer_centro{
	width: 25%;
	float: left;
	text-align: left;
}
.footer_centro nav{
	width: 100%;
	color: #6B696A;
	text-align: left;
	margin: 5px 0;
	padding: 0;
	line-height: 25px;
}

.footer_dcha{
	width: 50%;
	float: left;
	text-align: right;
}
.footer_dcha nav{
	width: 100%;
	color: #6B696A;
	text-align: right;
	margin: 5px 0;
	padding: 0;
	line-height: 25px;
}

.footer_centro a, .footer_izq a{
	width: 100%;
	float: left;
	text-decoration: none;
	color: #6B696A;
	margin: 5px 0;
}
.footer_centro a:hover, .footer_dcha a:hover, .footer_izq a:hover{
	text-decoration: underline;
}

.footer_dcha a{
	text-decoration: none;
	color: #6B696A;
	margin: 5px 0;
}
.footer_dcha a.icono-redes{
	text-decoration: none;
}
.footer_dcha a.icono-redes:hover{
	text-decoration: none;
}

